.sidenav__btn::after {
  content: "";
  display: block;
  clear: both;
}

.header__container > a, .sidenav__btn a, .sidenav__list a {
  display: block;
  text-decoration: none;
}

.header__container > a:hover, .sidenav__btn a:hover, .sidenav__list a:hover {
  text-decoration: none;
}

body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none !important;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.modal-open {
  overflow: initial !important;
}

a:focus,
button:active,
button:focus,
area:active,
area:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 50;
}

@media screen and (max-width: 1060px) {
  .header {
    height: 30px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__img {
  width: auto;
  height: 40px;
}

.header__img--mb {
  width: 150px;
  height: 20px;
  height: auto;
  margin: 6px 0 4px;
}

.header__text {
  display: block;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #a9a9a9;
  border-right: 1px solid #a9a9a9;
}

.header__text:hover {
  color: #c3c3c3;
}

.header__text--danger {
  color: #dd0000;
}

.header__text--danger:hover {
  color: #dd0000;
}

.header__download {
  position: relative;
  cursor: pointer;
}

.header__download:hover .header__dropdown {
  display: block;
}

.header__dropdown {
  display: none;
  position: absolute;
  left: -70px;
  bottom: -150px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 150px;
}

.header__icon-list {
  margin: 0;
  padding: 0;
}

.header__icon-list li {
  display: inline-block;
  margin-bottom: 5px;
}

.header__icon-list img {
  width: 25px;
}

@media screen and (max-width: 1060px) {
  .header--pc {
    display: none !important;
  }
}

.header--mb {
  display: none;
}

@media screen and (max-width: 1060px) {
  .header--mb {
    display: block;
  }
}

.sidenav--right {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 50;
}

.sidenav__btn {
  margin-bottom: 6px;
}

.sidenav__btn a {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #444;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav--right .sidenav__btn a {
  float: right;
}

.sidenav__btn a:hover {
  background-color: #009ce1;
}

.sidenav__btn a::before, .sidenav__btn a::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  left: 10px;
  background-color: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__btn a::before {
  top: 13px;
}

.sidenav--right .sidenav__btn a::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.sidenav--right.sidenav--hide .sidenav__btn a::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.sidenav__btn a::after {
  bottom: 13px;
}

.sidenav--right .sidenav__btn a::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.sidenav--right.sidenav--hide .sidenav__btn a::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.sidenav__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__list li {
  color: #fff;
  background-color: #444;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__list li li:not(:last-child) {
  border-bottom: 1px solid #666;
}

.sidenav__list li.sidenav__img a {
  padding: 0;
  width: 120px;
}

.sidenav__list a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
}

.sidenav--right .sidenav__list a {
  border-right: 4px solid transparent;
}

.sidenav--right .sidenav__list a:hover {
  border-color: #009ce1;
  background-color: #5e5e5e;
}

.sidenav--hide .sidenav__list {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  pointer-events: none;
  height: 0;
}

.sidenav--hide .sidenav__list .sidenav_btn {
  pointer-events: auto;
}

.sidenav__slider {
  width: 120px;
}

.sidenav__slider a {
  padding: 0;
}

@media screen and (max-width: 767.98px) {
  .sidenav__slider {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .sidenav--right {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    color: #888;
    background-color: #fff;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .sidenav--right .sidenav__btn {
    display: none;
  }
  .sidenav--right .sidenav__list {
    font-size: 0;
    white-space: nowrap;
    color: #777;
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sidenav--right .sidenav__list li {
    display: inline-block;
    font-size: 16px;
    padding: 4px 0 6px;
    line-height: 1;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: none !important;
  }
  .sidenav--right .sidenav__list li:not(:first-child) a {
    border-left: 1px solid #888;
  }
  .sidenav--right .sidenav__list li.sidenav__img {
    display: none;
  }
  .sidenav--right .sidenav__list a {
    padding: 0 15px;
    color: #888;
    border: none;
  }
  .sidenav--right .sidenav__list a:hover, .sidenav--right .sidenav__list a:active {
    background-color: transparent;
  }
  .sidenav--right.fixed {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 50;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.right__box {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gotop {
  background-color: rgba(119, 119, 119, 0.8);
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: translateY(-30px) translateZ(0);
          transform: translateY(-30px) translateZ(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 767.98px) {
  .gotop {
    width: 40px;
    height: 40px;
  }
}

.gotop:hover {
  background-color: #009ce1;
}

.gotop:before, .gotop:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  width: 40%;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (max-width: 767.98px) {
  .gotop:before, .gotop:after {
    height: 3px;
  }
}

.gotop:before {
  left: 19%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.gotop:after {
  right: 19%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.gotop.show {
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.footer {
  text-align: center;
  background-color: #333333;
}

.bank-slogan {
  padding: 15px 10px;
  color: #fff;
  background-color: #333333;
}

.bank-slogan__title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 5px 20px;
  border: 1px solid #fff;
}

.bank-slogan__text {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.pchome-slogan {
  padding: 15px 10px 15px;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  background-color: #000;
}

.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 15px;
}

.footer__icon-list li {
  display: inline-block;
  padding: 0 3px;
  margin-bottom: 5px;
}

.footer__icon-list img {
  width: 40px;
}

.pchome-slogan__text {
  font-size: 14px;
}

@media screen and (max-width: 575.98px) {
  .pchome-slogan__text {
    font-size: 12px;
  }
  .pchome-slogan__text span {
    display: block;
  }
  .pchome-slogan__text br {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .pc {
    display: none;
  }
}

.mb {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .mb {
    display: block;
  }
}

.gray_box {
  border: 3px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 20px #ededed;
          box-shadow: inset 0 0 20px #ededed;
  border-radius: 8px;
  padding: 8px;
  display: block;
}

.main.addPadding {
  padding-top: 26px;
}

.all-sections {
  padding: 40px 15px;
  background-color: #f2b7c6;
}

@media screen and (max-width: 767.98px) {
  .all-sections {
    padding: 30px 10px;
  }
}

.all-sections > section:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (max-width: 767.98px) {
  .all-sections > section:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
}

.section-content > * {
  border: 1px solid #000;
}

.section-content .row {
  margin-left: 0px;
  margin-right: 0px;
}

.section-content [class^='col'] {
  padding: 0 8px;
}

@media screen and (max-width: 575.98px) {
  .section-content [class^='col'] {
    padding: 0 5px;
  }
}

section .section__title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 0;
}

.bank-tab .swiper-wrapper {
  padding-bottom: 20px;
}

.bank-tab .swiper-slide {
  cursor: pointer;
  position: relative;
}

.bank-tab .swiper-slide > * {
  pointer-events: none;
}

@media screen and (max-width: 1199.98px) {
  .bank-tab .swiper-slide {
    width: 185px;
  }
}

@media screen and (max-width: 575.98px) {
  .bank-tab .swiper-slide {
    width: 140px;
  }
}

.bank-tab .swiper-slide:nth-child(odd) h5 {
  background-color: #ffedd3;
}

.bank-tab .swiper-slide.now:before {
  bottom: -20px;
  border-width: 20px 20px 0 20px;
}

.bank-tab .swiper-slide.now:after {
  bottom: -15px;
  border-width: 15px 15px 0 15px;
}

.bank-tab .swiper-slide:before, .bank-tab .swiper-slide:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: #fff transparent transparent transparent;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.bank-tab .swiper-slide:after {
  z-index: 35;
  border-color: #f4f4f4 transparent transparent transparent;
}

.bank-tab h5 {
  padding: 14px 0;
  margin-bottom: 8px;
  font-size: 2rem;
  line-height: 1.3;
  color: #ff007d;
  border-radius: 8px;
  background-color: #e9d9ff;
}

@media screen and (max-width: 575.98px) {
  .bank-tab h5 {
    font-size: 1.5rem;
  }
}

.bank-tab__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bank-tab__bot .left {
  font-size: 14px;
  border-radius: 3px;
  padding: 3px;
  background-color: #ff017f;
  color: #fff;
  line-height: 1;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 767.98px) {
  .bank-tab__bot .left {
    font-size: 12px;
  }
}

.bank-tab__bot .right {
  font-size: 2.3rem;
  line-height: 1.1;
  color: #ff017f;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 575.98px) {
  .bank-tab__bot .right {
    font-size: 1.5rem;
  }
}

.bank-pane {
  padding: 15px;
}

.bank-pane .container-fluid {
  position: relative;
}

.bank-pane .container-fluid.middleLine:after {
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media screen and (max-width: 767.98px) {
  .bank-pane .container-fluid.middleLine:after {
    width: 100%;
    height: 2px;
  }
}

.bank-pane .container-fluid:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 0%;
  background-color: #eee;
  border-radius: 10px;
  -webkit-transition: 0s;
  transition: 0s;
}

@media screen and (max-width: 767.98px) {
  .bank-pane .container-fluid:after {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0%;
    height: 2px;
  }
}

.bank-pane .pane.fadeInLeft {
  -webkit-animation: fadeInLeft 0.6s;
          animation: fadeInLeft 0.6s;
}

@media screen and (max-width: 767.98px) {
  .bank-pane .pane.pane-mt {
    margin-top: 30px;
  }
}

.bank-pane__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.bank-pane__text h5 {
  color: #333333;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0;
}

@media screen and (max-width: 575.98px) {
  .bank-pane__text h5 {
    font-size: 5vw;
  }
}

.bank-pane__img {
  max-width: 50%;
}

.bank-pane__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bank-pane__bot .left {
  font-size: 14px;
  border-radius: 3px;
  padding: 3px;
  background-color: #ff017f;
  color: #fff;
  line-height: 1;
  margin: 0 10px 0 0;
}

.bank-pane__bot .right {
  font-size: 1.75rem;
  color: #ff017f;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

.bank-pane__btn {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 5px 0;
  padding: 4px 35px;
  border-radius: 20px;
  background-color: #ff007d;
  color: #fff;
  -webkit-box-shadow: 2px 2px 0 1px #ffd0d7;
          box-shadow: 2px 2px 0 1px #ffd0d7;
}

.bank-pane__btn:hover {
  color: #fff;
  background-color: #ee2588;
}

.bank-pane__btn:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media screen and (max-width: 575.98px) {
  .bank-pane__btn {
    line-height: 1.2;
    font-size: 14px;
    padding: 2px 30px;
    border-radius: 15px;
  }
}

.pay-tab .swiper-slide {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.pay-tab .swiper-slide:hover {
  text-decoration: none;
}

.pay-tab .swiper-slide:hover:before {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.pay-tab .swiper-slide:hover h5 {
  color: #0a9cf1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pay-tab .swiper-slide > * {
  pointer-events: none;
}

@media screen and (max-width: 1199.98px) {
  .pay-tab .swiper-slide {
    width: 185px;
  }
}

@media screen and (max-width: 575.98px) {
  .pay-tab .swiper-slide {
    width: 140px;
  }
}

.pay-tab .swiper-slide:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 80% 20%;
  top: 0;
  left: 0;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

@media screen and (max-width: 767.98px) {
  .pay-tab .swiper-slide:before {
    display: none;
  }
}

.pay-tab h3 {
  color: #333333;
  background-color: #ffcf00;
  border-radius: 20px;
  text-align: center;
  padding: 5px 10px;
  margin: 0 0 8px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: normal;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.pay-tab h5 {
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 8px;
  -webkit-transition: 0s;
  transition: 0s;
}

@media screen and (max-width: 575.98px) {
  .pay-tab h5 {
    font-size: 1.2rem;
  }
}

.pay-tab__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay-tab__bot .left {
  font-size: 14px;
  border-radius: 3px;
  padding: 3px;
  background-color: #0a9cf1;
  color: #fff;
  line-height: 1;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 767.98px) {
  .pay-tab__bot .left {
    font-size: 12px;
  }
}

.pay-tab__bot .right {
  font-size: 2.3rem;
  line-height: 1.1;
  color: #0a9cf1;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 575.98px) {
  .pay-tab__bot .right {
    font-size: 1.5rem;
  }
}

.bank__icon {
  padding: 0 70px;
  margin: 0;
}

@media screen and (max-width: 991.98px) {
  .bank__icon {
    padding: 0px;
  }
}

.bank__icon--link {
  display: block;
  margin-bottom: 24px;
}

@media screen and (max-width: 575.98px) {
  .bank__icon--link {
    margin-bottom: 14px;
  }
}

.bank__icon--link img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bank__icon--link:hover {
  text-decoration: none;
}

.bank__icon--link:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.bank__icon--link:hover .bank__icon--name:before,
.bank__icon--link:hover .bank__icon--name:after {
  width: 30%;
}

.bank__icon--name {
  color: #000;
  margin-top: 4px;
  font-size: 1.75rem;
  font-weight: 300;
  position: relative;
}

@media screen and (max-width: 767.98px) {
  .bank__icon--name {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 575.98px) {
  .bank__icon--name {
    font-size: 1rem;
  }
}

.bank__icon--name:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 50%;
  height: 1px;
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bank__icon--name:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 0%;
  right: 50%;
  height: 1px;
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.col-1-5 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
  text-align: center;
  padding: 0 15px !important;
}

@media screen and (max-width: 767.98px) {
  .col-1-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

.all-pay a.gray_box {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  margin-bottom: 16px;
  display: block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media screen and (max-width: 575.98px) {
  .all-pay a.gray_box {
    margin-bottom: 10px;
  }
}

.all-pay a.gray_box:hover {
  -webkit-box-shadow: inset 0 0 30px #d3d3d3;
          box-shadow: inset 0 0 30px #d3d3d3;
}

.all-pay a.gray_box:hover img {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.pcoin {
  text-align: center;
}

.pcoin a {
  display: block;
}

.pcoin a:hover img {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.pcoin a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hotact [class^='col'] {
  margin-bottom: 16px;
}

@media screen and (max-width: 767.98px) {
  .hotact [class^='col'] {
    margin-bottom: 10px;
  }
}

.hotact a {
  background-color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hotact a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hotact a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.hotact a:hover img {
  opacity: 0.7;
}

@media screen and (max-width: 767.98px) {
  .hotact a {
    padding: 3px;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
/*# sourceMappingURL=all.css.map */