.header__container > a {
  display: block;
  text-decoration: none;
}

.header__container > a:hover {
  text-decoration: none;
}

body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none !important;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.modal-open {
  overflow: initial !important;
}

a:focus,
button:active,
button:focus,
area:active,
area:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 50;
}

@media screen and (max-width: 1060px) {
  .header {
    height: 30px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__img {
  width: auto;
  height: 40px;
}

.header__img--mb {
  width: 150px;
  height: 20px;
  height: auto;
  margin: 6px 0 4px;
}

.header__text {
  display: block;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #a9a9a9;
  border-right: 1px solid #a9a9a9;
}

.header__text:hover {
  color: #c3c3c3;
}

.header__text--danger {
  color: #dd0000;
}

.header__text--danger:hover {
  color: #dd0000;
}

.header__download {
  position: relative;
  cursor: pointer;
}

.header__download:hover .header__dropdown {
  display: block;
}

.header__dropdown {
  display: none;
  position: absolute;
  left: -70px;
  bottom: -150px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 150px;
}

.header__icon-list {
  margin: 0;
  padding: 0;
}

.header__icon-list li {
  display: inline-block;
  margin-bottom: 5px;
}

.header__icon-list img {
  width: 25px;
}

@media screen and (max-width: 1060px) {
  .header--pc {
    display: none !important;
  }
}

.header--mb {
  display: none;
}

@media screen and (max-width: 1060px) {
  .header--mb {
    display: block;
  }
}

.right__box {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gotop {
  background-color: rgba(119, 119, 119, 0.8);
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: translateY(-30px) translateZ(0);
          transform: translateY(-30px) translateZ(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 767.98px) {
  .gotop {
    width: 40px;
    height: 40px;
  }
}

.gotop:hover {
  background-color: #009ce1;
}

.gotop:before, .gotop:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  width: 40%;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (max-width: 767.98px) {
  .gotop:before, .gotop:after {
    height: 3px;
  }
}

.gotop:before {
  left: 19%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.gotop:after {
  right: 19%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.gotop.show {
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 767.98px) {
  .pc {
    display: none;
  }
}

.mb {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .mb {
    display: block;
  }
}

section:nth-child(even) {
  background-color: #f1f1f1;
}

section:nth-child(odd) {
  background-color: #e4e4e4;
}

section.section4 {
  background-color: #448dc0;
}

.container {
  max-width: 1300px;
  padding: 50px 15px;
}

@media screen and (max-width: 767.98px) {
  .container {
    padding: 20px 15px;
  }
}

.section4 .container {
  max-width: 600px;
}

.section-title {
  text-align: center;
  color: #333;
  font-size: 3rem;
  margin-bottom: 15px;
}

@media screen and (max-width: 767.98px) {
  .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

a[data-fancybox] {
  position: relative;
  display: block;
  margin-bottom: 30px;
  border: 4px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

a[data-fancybox]:before {
  content: attr(data-caption);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1.25rem;
}

a[data-fancybox] img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a[data-fancybox]:hover img {
  opacity: 0.8;
}

.section4 .form-row {
  background-color: #fff;
  padding: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.section4 h4 {
  color: #333;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.section4 #submit {
  font-size: 1.25rem;
}

.section4 #submit.pointer-none {
  pointer-events: none;
}

.section4 .error-text {
  color: #ff0036;
  position: absolute;
  top: 100%;
}

.section4 .remind {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.section4 .voteCount {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.section4 .voteCount span {
  font-size: 1.5em;
}
/*# sourceMappingURL=all.css.map */