@import 'init';

.pc {
  @include media($pad) {
    display: none;
  }
}
.mb {
  display: none;
  @include media($pad) {
    display: block;
  }
}

.lazy {
  display: block;
  width: 255px;
  height: 255px;
  @include media($mobile) {
    width: 180px;
    height: 180px;
  }
}
