@import 'init';

.pc {
  @include media($pad) {
    display: none;
  }
}

.mb {
  display: none;
  @include media($pad) {
    display: block;
  }
}
body {
  background-image: url('../img/10all-bg.jpg');
  background-repeat: repeat;
  @include media($pad) {
    background-size: 50%;
  }
}
// 灰底方塊
.gray_box {
  border: 3px solid #fff;
  background-color: #fff;
  box-shadow: inset 0 0 20px #ededed;
  border-radius: 8px;
  padding: 8px;
  display: block;
}

.main {
  // for nav fixed
  &.addPadding {
    padding-top: 26px;
  }
}

.banner {
  height: 877px;
  background-image: url('../img/10banner.png');
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  overflow: hidden;
  @media screen and(max-width: 1920px) {
    height: 750px;
    background-size: 1920px;
  }
  @include media($pad) {
    background-image: url('../img/10banner-mb.png');
    background-size: contain;
    height: 92vw;
  }
}
.balloon {
  position: absolute;
  top: 0;
  left: 50%;
  &:nth-child(1) {
    transform: translate(870px, 50px);
    z-index: 5;
    @media screen and(max-width: 1920px) {
      transform: translate(760px, 30px);
      max-width: 150px;
    }
    @include media($pad) {
      display: none;
    }
  }
  &:nth-child(2) {
    transform: translate(1050px, 180px);
    z-index: 10;
    @media screen and(max-width: 1920px) {
      display: none;
    }
  }
  &:nth-child(3) {
    transform: translate(870px, 350px);
    z-index: 15;
    @media screen and(max-width: 1920px) {
      transform: translate(760px, 230px);
      max-width: 150px;
    }
    @include media($pad) {
      display: none;
    }
  }
  &:nth-child(4) {
    transform: translate(700px, 200px);
    z-index: 10;
    @media screen and(max-width: 1920px) {
      transform: translate(600px, 130px);
      max-width: 150px;
    }
    @include media($pad) {
      transform: none;
      top: 20%;
      left: auto;
      right: 1%;
      max-width: 23%;
    }
  }
}
.box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-700px, -200px);
  @media screen and(max-width: 1920px) {
    transform: translate(-550px, -200px);
    max-width: 120px;
  }
  @include media($pad) {
    display: none;
  }
}
.all-sections {
  padding: 0px 15px 40px;
  margin-top: -30px;
  @media screen and(max-width: 1920px) {
    margin-top: -70px;
  }
  @include media($pad) {
    padding: 30px 10px;
  }
  > section:not(:last-child) {
    margin-bottom: 200px;
    @include media($wide) {
      margin-bottom: 16vw;
    }
  }
}
// section-content
.section-content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 8px;
  background-color: rgba(#b8db39, 0.5);
  border-radius: 8px;
  position: relative;
  z-index: 30;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  [class^='col'] {
    padding: 0 8px;
    @include media($mobile) {
      padding: 0 5px;
    }
  }
  .section-inner {
    background-color: #067101;
    padding: 40px 20px 20px;
    @include media($pad) {
      padding: 30px 10px 10px 10px;
    }
  }
}
#section4,
#section6 {
  .section-inner {
    padding-bottom: 10px;
    @include media($pad) {
      padding: 30px 5px 0;
    }
  }
}

.section__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -85%);
}

section {
  position: relative;
  .section__title {
    text-align: center;
    position: absolute;
    z-index: 20;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
    font-size: 2.75rem;
    margin-bottom: 0;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 2px 2px 2px #a96827, -1px -1px 2px #a96827, 1px -1px 2px #a96827, -1px 1px 2px #a96827, 1px 1px 2px #a96827;
    padding: 45px 0 60px;
    width: 550px;
    background-image: url('../img/10section-title.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    @include media($pad) {
      font-size: 1.75rem;
      max-width: 80%;
      padding: 3vw 0 5vw;
      top: -7vw;
    }
  }
}
// [銀行]上方滑動區塊
.bank-tab {
  .swiper-wrapper {
    padding-bottom: 20px;
  }
  .swiper-slide {
    cursor: pointer;
    position: relative;
    > * {
      pointer-events: none;
    }
    @include media($wide) {
      width: 185px;
    }
    @include media($mobile) {
      width: 140px;
    }
    &:nth-child(odd) h5 {
      background-color: #ffedd3;
    }
    &.now:before {
      bottom: -20px;
      border-width: 20px 20px 0 20px;
    }
    &.now:after {
      bottom: -15px;
      border-width: 15px 15px 0 15px;
    }
    // hover箭頭大
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 30;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 0 0;
      border-color: #fff transparent transparent transparent;
      transition: 0.6s;
    }
    // hover箭頭小
    &:after {
      z-index: 35;
      border-color: #f4f4f4 transparent transparent transparent;
    }
  }
  h5 {
    padding: 14px 0;
    margin-bottom: 8px;
    font-size: 2rem;
    line-height: 1.3;
    color: #ff007d;
    border-radius: 8px;
    background-color: #e9d9ff;
    @include media($mobile) {
      font-size: 1.5rem;
    }
  }
  &__bot {
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
      font-size: 14px;
      border-radius: 3px;
      padding: 3px;
      background-color: #ff017f;
      color: #fff;
      line-height: 1;
      margin: 0 10px 0 0;
      @include media($pad) {
        font-size: 12px;
      }
    }
    .right {
      font-size: 2.3rem;
      line-height: 1.1;
      color: #ff017f;
      font-weight: bold;
      margin: 0;
      @include media($mobile) {
        font-size: 1.5rem;
      }
    }
  }
}
// [銀行]下方面版區塊
.bank-pane {
  padding: 15px;
  .container-fluid {
    position: relative;
    &.middleLine:after {
      height: 100%;
      transition: 0.6s;
      @include media($pad) {
        width: 100%;
        height: 2px;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 0%;
      background-color: #eee;
      border-radius: 10px;
      transition: 0s;
      @include media($pad) {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 0%;
        height: 2px;
      }
    }
  }
  .pane {
    &.fadeInLeft {
      animation: fadeInLeft 0.6s;
    }
    &.pane-mt {
      @include media($pad) {
        margin-top: 30px;
      }
    }
  }
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }
  &__text {
    h5 {
      color: #333333;
      font-size: 1.75rem;
      font-weight: 300;
      line-height: 1.3;
      margin-bottom: 0;
      @include media($mobile) {
        font-size: 5vw;
      }
    }
  }
  &__img {
    max-width: 50%;
  }
  &__bot {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .left {
      font-size: 14px;
      border-radius: 3px;
      padding: 3px;
      background-color: #ff017f;
      color: #fff;
      line-height: 1;
      margin: 0 10px 0 0;
    }
    .right {
      font-size: 1.75rem;
      color: #ff017f;
      font-weight: bold;
      margin: 0;
      line-height: 1;
    }
  }
  &__btn {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 5px 0;
    padding: 4px 35px;
    border-radius: 20px;
    background-color: #ff007d;
    color: #fff;
    box-shadow: 2px 2px 0 1px #ffd0d7;
    &:hover {
      color: #fff;
      background-color: #ee2588;
    }
    &:active {
      transform: translateY(3px);
    }
    @include media($mobile) {
      line-height: 1.2;
      font-size: 14px;
      padding: 2px 30px;
      border-radius: 15px;
    }
  }
}

// [儲值]卡片區塊
.pay-tab {
  .swiper-slide {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      text-decoration: none;
      &:before {
        transform: translate(100%, 100%);
        transition: 0.6s;
      }
      h5 {
        color: #0a9cf1;
        transition: 0.3s;
      }
    }
    > * {
      pointer-events: none;
    }
    @include media($wide) {
      width: 185px;
    }
    @include media($mobile) {
      width: 140px;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(#fff, 0.3);
      border-radius: 80% 20%;
      top: 0;
      left: 0;
      transition: 0s;
      transform: translate(-100%, -100%);
      @include media($pad) {
        display: none;
      }
    }
  }
  h3 {
    color: #333333;
    background-color: #ffcf00;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    margin: 0 0 8px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: normal;
    transition: 0.6s;
  }
  h5 {
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 8px;
    transition: 0s;
    @include media($mobile) {
      font-size: 1.2rem;
    }
  }
  &__bot {
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
      font-size: 14px;
      border-radius: 3px;
      padding: 3px;
      background-color: #0a9cf1;
      color: #fff;
      line-height: 1;
      margin: 0 10px 0 0;
      @include media($pad) {
        font-size: 12px;
      }
    }
    .right {
      font-size: 2.3rem;
      line-height: 1.1;
      color: #0a9cf1;
      font-weight: bold;
      margin: 0;
      @include media($mobile) {
        font-size: 1.5rem;
      }
    }
  }
}

// [銀行icon]
.bank__icon {
  padding: 0 70px;
  margin: 0;
  @include media($padLg) {
    padding: 0px;
  }
  &--link {
    display: block;
    margin-bottom: 24px;
    @include media($mobile) {
      margin-bottom: 14px;
    }
    img {
      transition: 0.5s;
    }
    &:hover {
      text-decoration: none;
      img {
        transform: scale(0.9);
      }
      .bank__icon--name:before,
      .bank__icon--name:after {
        width: 30%;
      }
    }
  }
  &--name {
    color: #fff;
    margin-top: 4px;
    font-size: 1.75rem;
    font-weight: 300;
    position: relative;
    @include media($pad) {
      font-size: 1.2rem;
    }
    @include media($mobile) {
      font-size: 1rem;
    }
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 0%;
      left: 50%;
      height: 1px;
      background-color: #fff;
      transition: 0.3s;
    }
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 0%;
      right: 50%;
      height: 1px;
      background-color: #fff;
      transition: 0.3s;
    }
  }
}
.col-1-5 {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
  text-align: center;
  padding: 0 15px !important;
  @include media($pad) {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

// [支付]
.all-pay a.gray_box {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  margin-bottom: 16px;
  display: block;
  transition: 0.6s;
  @include media($mobile) {
    margin-bottom: 10px;
  }
  &:hover {
    box-shadow: inset 0 0 30px #d3d3d3;
    img {
      transition: 0.6s;
      transform: scale(0.95);
    }
  }
}

// [p幣]
.pcoin {
  text-align: center;
  margin-bottom: 20px;
  @include media($pad) {
    margin-bottom: 10px;
  }
  a {
    display: block;
    &:hover {
      img {
        transform: scale(0.98);
      }
    }
    img {
      transition: 0.3s;
    }
  }
}
// [熱門活動]
.hotact {
  [class^='col'] {
    margin-bottom: 16px;
    @include media($pad) {
      margin-bottom: 10px;
    }
  }
  a {
    background-color: #fff;
    display: block;
    transition: 0.3s;
    img {
      transition: 0.3s;
    }
    &:hover {
      transform: translateY(-2px);
      img {
        opacity: 0.7;
      }
    }
    @include media($pad) {
      padding: 3px;
    }
  }
}

// ani
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
